/** common **/
html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
svg {
	display: none;
	width: 100%;
	height: 100%;
	overflow: visible;
	text-align: left;
}

/** wrap **/
.wrap {
	width: 100%;
	height: 100%;
}

/** title **/
.wrap {
	.title-wrap {
		height: 28px;
		text-align: center;
		position: absolute;
		top: 0;
		bottom: 50px;
		left: 0;
		right: 0;
		opacity: 0;
		margin: auto;
		z-index: 300;
		overflow: visible;
		svg {
			display: block;
		}
	}
	&.on {
		.title-wrap {
			transition: 1s;
			height: 80px;
			svg {
				fill: #FFF;
			}
		}
	}
} 


/** loading **/
.loading-wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	.loading {
		display: block;
		width: 300px;
		height: 250px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		animation: rotate 2s infinite linear;
		&.off {
			display: none;
		}
		 circle {
			fill: none;
		}
		&:nth-of-type(1) {
			stroke: #34495e;
			stroke-width: 2;
		}
		&:nth-of-type(2) {
			animation-delay: -1.8s;
			animation-duration: 4s;
			circle {
				stroke: #95a5a6;
				stroke-width: 1;
			}
		}
	}
	.loading-text {
		height: 34px;
		font-size: 34px;
		font-family: Meiryo, Tahoma, Verdana, Arial, sans-serif;
		letter-spacing: 1px;
		text-align: center;
		color: #000;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		opacity: 0.8;
		animation: blink 2s infinite linear;
		z-index: 60;
	}
	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	@keyframes blink {
		50% {
			opacity: 0;
		}
	}
}

/** wrap-inline **/
.wrap {
	.wrap-inline {
		width: 100%;
		height: 100%;
		.section {
			position: relative;
			display: none;
			width: 100%;
			height: 100%;
			overflow: hidden;
			iframe:not(.original) {
				width: 100%;
				height: 100%;
			}
			video {
				width: 100%;
				height: 100%;
			}
		}
		.sectionCanvas::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
		}
	}
	&.on {
		.wrap-inline {
			.section {
				display: block;
			}
		}
	}
}

/** section1 **/
.section1 {
	z-index: 50;
	.c1-filter {
		width: 100%;
		height: 100%;
		background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
		opacity: 0.8;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0.8;
		overflow: hidden;
		.particles1,
		.particles2,
		.particles3 {
			position: relative;
			width: 1px;
			height: 1px;
			border-radius: 1px;
			background: transparent;
			box-shadow: 1297px 1093px #FFF, 495px 1597px #FFF, 549px 1825px #FFF, 1332px 1194px #FFF, 526px 1183px #FFF, 440px 816px #FFF, 1737px 1048px #FFF, 1129px 1164px #FFF, 1763px 1630px #FFF, 737px 1165px #FFF, 918px 725px #FFF, 652px 68px #FFF, 891px 967px #FFF, 959px 616px #FFF, 949px 1475px #FFF, 699px 730px #FFF, 1926px 1857px #FFF, 85px 661px #FFF, 1445px 3px #FFF, 1538px 863px #FFF, 866px 1885px #FFF, 1804px 1882px #FFF, 823px 1669px #FFF, 179px 549px #FFF, 825px 1588px #FFF, 1745px 1153px #FFF, 1615px 972px #FFF, 702px 191px #FFF, 570px 1253px #FFF, 975px 1570px #FFF, 826px 869px #FFF, 998px 940px #FFF, 844px 1110px #FFF, 1361px 1765px #FFF, 1600px 903px #FFF, 1715px 177px #FFF, 665px 343px #FFF, 1183px 1341px #FFF, 1756px 153px #FFF, 896px 1398px #FFF, 812px 594px #FFF, 636px 1289px #FFF, 972px 1714px #FFF, 1741px 1675px #FFF, 315px 1991px #FFF, 1084px 991px #FFF, 331px 1397px #FFF, 1141px 507px #FFF, 1656px 295px #FFF, 1936px 58px #FFF, 485px 1637px #FFF, 1880px 942px #FFF, 1914px 1450px #FFF, 1500px 1324px #FFF, 1749px 510px #FFF, 1658px 1130px #FFF, 919px 294px #FFF, 14px 506px #FFF, 1399px 1530px #FFF, 174px 416px #FFF, 336px 698px #FFF, 931px 1948px #FFF, 194px 1692px #FFF, 1431px 241px #FFF, 407px 536px #FFF, 1968px 1554px #FFF, 442px 82px #FFF, 809px 1224px #FFF, 1541px 741px #FFF, 1883px 1958px #FFF, 1278px 767px #FFF, 1642px 712px #FFF, 1904px 289px #FFF, 1103px 1835px #FFF, 1367px 1330px #FFF, 78px 1795px #FFF, 1951px 1630px #FFF, 1078px 557px #FFF, 1006px 1090px #FFF, 458px 571px #FFF, 1737px 1189px #FFF, 94px 1132px #FFF, 1667px 300px #FFF, 805px 860px #FFF, 876px 1362px #FFF, 1851px 717px #FFF, 808px 326px #FFF, 781px 1371px #FFF, 87px 690px #FFF, 1334px 1140px #FFF, 894px 483px #FFF, 1072px 1500px #FFF, 1543px 694px #FFF, 184px 957px #FFF, 706px 663px #FFF, 447px 1655px #FFF, 799px 1946px #FFF, 1236px 172px #FFF, 1814px 598px #FFF, 1352px 75px #FFF, 1608px 1645px #FFF, 158px 1654px #FFF, 1539px 1764px #FFF, 460px 1325px #FFF, 424px 1619px #FFF, 907px 1649px #FFF, 1461px 974px #FFF, 596px 1711px #FFF, 911px 1197px #FFF, 317px 1901px #FFF, 1828px 1637px #FFF, 522px 201px #FFF, 21px 970px #FFF, 1324px 1008px #FFF, 781px 1130px #FFF, 1036px 1832px #FFF, 1138px 1120px #FFF, 1485px 119px #FFF, 343px 1749px #FFF, 1529px 1560px #FFF, 1466px 1350px #FFF, 135px 919px #FFF, 886px 1236px #FFF, 1738px 1407px #FFF, 219px 774px #FFF, 1933px 503px #FFF, 370px 1584px #FFF, 407px 1363px #FFF, 1381px 1527px #FFF, 1590px 1958px #FFF, 1755px 22px #FFF, 1705px 1456px #FFF, 336px 917px #FFF, 1064px 711px #FFF, 509px 854px #FFF, 995px 1715px #FFF, 503px 891px #FFF, 1087px 736px #FFF, 1001px 543px #FFF, 1209px 508px #FFF, 1514px 1181px #FFF, 1326px 333px #FFF, 890px 1943px #FFF, 1106px 1745px #FFF, 1670px 1681px #FFF, 462px 526px #FFF, 885px 278px #FFF, 829px 567px #FFF, 1387px 2000px #FFF, 1371px 1376px #FFF, 1076px 1790px #FFF, 1260px 1753px #FFF, 13px 986px #FFF, 304px 494px #FFF, 734px 1269px #FFF, 1150px 32px #FFF, 1507px 402px #FFF, 1822px 233px #FFF, 599px 482px #FFF, 1610px 1508px #FFF, 226px 1216px #FFF, 620px 1569px #FFF, 414px 1075px #FFF, 1353px 1068px #FFF, 725px 873px #FFF, 964px 306px #FFF, 1009px 573px #FFF, 353px 1237px #FFF, 1722px 271px #FFF, 220px 1957px #FFF, 47px 1224px #FFF, 71px 1391px #FFF, 356px 856px #FFF, 1194px 1147px #FFF, 268px 728px #FFF, 1106px 458px #FFF, 1399px 1192px #FFF, 736px 663px #FFF, 559px 1570px #FFF, 1276px 392px #FFF, 1488px 1141px #FFF, 1299px 812px #FFF, 1715px 978px #FFF, 1044px 941px #FFF, 249px 1202px #FFF, 1097px 858px #FFF, 1369px 1902px #FFF, 1585px 1625px #FFF, 1965px 1266px #FFF, 1469px 1095px #FFF, 1936px 1499px #FFF, 1725px 119px #FFF, 1327px 1870px #FFF, 1134px 1039px #FFF, 467px 922px #FFF, 237px 610px #FFF, 129px 558px #FFF, 632px 993px #FFF, 878px 1643px #FFF, 1370px 1891px #FFF, 607px 1968px #FFF, 145px 1772px #FFF, 670px 1769px #FFF, 1606px 1589px #FFF, 1774px 446px #FFF, 1082px 1246px #FFF, 584px 1220px #FFF, 796px 1704px #FFF, 750px 84px #FFF, 1007px 306px #FFF, 1911px 1996px #FFF, 510px 1587px #FFF, 165px 1630px #FFF, 94px 740px #FFF, 1618px 1538px #FFF, 1580px 1467px #FFF, 1765px 1538px #FFF, 1046px 794px #FFF, 1290px 392px #FFF, 101px 1364px #FFF, 1930px 997px #FFF, 1023px 1492px #FFF, 1715px 1166px #FFF, 732px 726px #FFF, 1517px 1065px #FFF, 1290px 110px #FFF, 1768px 1471px #FFF, 1162px 158px #FFF, 1326px 399px #FFF, 1483px 1626px #FFF, 317px 300px #FFF, 651px 488px #FFF, 1506px 988px #FFF, 640px 1300px #FFF, 931px 545px #FFF, 235px 1005px #FFF, 1175px 1591px #FFF, 53px 1955px #FFF, 710px 812px #FFF, 731px 526px #FFF, 249px 411px #FFF, 794px 290px #FFF, 429px 394px #FFF, 1188px 575px #FFF, 1406px 1625px #FFF, 1581px 1814px #FFF, 1408px 1200px #FFF, 1273px 1355px #FFF, 1232px 1906px #FFF, 1713px 92px #FFF, 1547px 1953px #FFF, 1493px 1432px #FFF, 1258px 421px #FFF, 478px 796px #FFF, 1268px 790px #FFF, 811px 1917px #FFF, 1682px 396px #FFF, 1961px 1536px #FFF, 1530px 1347px #FFF, 56px 1258px #FFF, 1625px 209px #FFF, 267px 1136px #FFF, 275px 1814px #FFF, 443px 1335px #FFF, 72px 902px #FFF, 857px 167px #FFF, 317px 1501px #FFF, 392px 770px #FFF, 1570px 561px #FFF, 1773px 1814px #FFF, 1575px 1432px #FFF, 545px 1173px #FFF, 1664px 1164px #FFF, 384px 1677px #FFF, 1400px 1997px #FFF, 35px 304px #FFF, 1176px 350px #FFF, 297px 727px #FFF, 133px 1601px #FFF, 1905px 1507px #FFF, 847px 848px #FFF, 352px 495px #FFF, 1244px 116px #FFF, 1695px 612px #FFF, 471px 1538px #FFF, 1780px 1258px #FFF, 1442px 1651px #FFF, 416px 262px #FFF, 877px 1713px #FFF, 1998px 850px #FFF, 192px 293px #FFF, 783px 382px #FFF, 203px 242px #FFF, 1745px 361px #FFF, 560px 62px #FFF, 1908px 516px #FFF, 372px 817px #FFF, 852px 317px #FFF, 1785px 714px #FFF, 951px 182px #FFF, 922px 649px #FFF, 1593px 136px #FFF, 34px 78px #FFF, 241px 1423px #FFF, 364px 613px #FFF, 1326px 1111px #FFF, 496px 225px #FFF, 525px 179px #FFF, 580px 1662px #FFF, 1912px 1456px #FFF, 1001px 335px #FFF, 887px 520px #FFF, 178px 1272px #FFF, 80px 1835px #FFF, 745px 853px #FFF, 1214px 1828px #FFF, 647px 720px #FFF, 477px 1685px #FFF, 1052px 765px #FFF, 1041px 1773px #FFF, 1536px 1128px #FFF, 401px 776px #FFF, 1531px 1296px #FFF, 481px 1358px #FFF, 807px 660px #FFF, 1464px 851px #FFF, 463px 1897px #FFF, 829px 161px #FFF, 929px 349px #FFF, 365px 1874px #FFF, 1834px 1751px #FFF, 837px 1191px #FFF, 683px 777px #FFF, 1857px 1470px #FFF, 1594px 290px #FFF, 620px 1340px #FFF, 6px 410px #FFF, 1103px 324px #FFF, 169px 1406px #FFF, 785px 441px #FFF, 1237px 1978px #FFF, 759px 869px #FFF, 657px 427px #FFF, 219px 704px #FFF, 1668px 985px #FFF, 112px 249px #FFF, 101px 1648px #FFF, 1773px 1450px #FFF, 215px 201px #FFF, 1077px 930px #FFF, 1290px 1425px #FFF, 868px 1017px #FFF, 376px 842px #FFF, 431px 222px #FFF, 1799px 1239px #FFF, 411px 528px #FFF, 1847px 1037px #FFF, 292px 362px #FFF, 1896px 1065px #FFF, 1544px 404px #FFF, 864px 622px #FFF, 1989px 1917px #FFF, 640px 1261px #FFF, 1468px 663px #FFF, 209px 1154px #FFF, 90px 1853px #FFF, 512px 213px #FFF, 152px 1370px #FFF, 1774px 1044px #FFF, 355px 1826px #FFF, 1953px 1724px #FFF, 495px 667px #FFF, 611px 1888px #FFF, 616px 982px #FFF, 1890px 191px #FFF, 1002px 738px #FFF, 105px 1061px #FFF, 1762px 1462px #FFF, 1537px 1590px #FFF, 1550px 37px #FFF, 1493px 1553px #FFF, 1242px 217px #FFF, 1621px 1661px #FFF, 1261px 142px #FFF, 1938px 1351px #FFF, 977px 93px #FFF, 1936px 354px #FFF, 1384px 1052px #FFF, 459px 1038px #FFF, 1817px 1356px #FFF, 62px 796px #FFF, 129px 1412px #FFF, 913px 1745px #FFF, 1360px 317px #FFF, 862px 1696px #FFF, 1501px 1717px #FFF, 1944px 260px #FFF, 1780px 1838px #FFF, 420px 544px #FFF, 348px 1198px #FFF, 444px 494px #FFF, 323px 793px #FFF, 297px 1655px #FFF, 23px 240px #FFF, 1120px 1525px #FFF, 1739px 476px #FFF, 525px 354px #FFF, 548px 1483px #FFF, 1159px 1953px #FFF, 1008px 1104px #FFF, 671px 1311px #FFF, 496px 920px #FFF, 1597px 611px #FFF, 1957px 1603px #FFF, 378px 1344px #FFF, 1074px 1221px #FFF, 1375px 780px #FFF, 52px 270px #FFF, 429px 443px #FFF, 482px 1839px #FFF, 1481px 1435px #FFF, 1960px 1186px #FFF, 1836px 1125px #FFF, 432px 1506px #FFF, 1614px 227px #FFF, 1538px 101px #FFF, 1391px 1165px #FFF, 903px 1504px #FFF, 952px 965px #FFF, 814px 1888px #FFF, 997px 118px #FFF, 1703px 1112px #FFF, 278px 1375px #FFF, 1846px 730px #FFF, 156px 1174px #FFF, 1568px 1182px #FFF, 1045px 1891px #FFF, 838px 793px #FFF, 125px 142px #FFF, 1912px 284px #FFF, 18px 45px #FFF, 1336px 788px #FFF, 1505px 633px #FFF, 1316px 1156px #FFF, 567px 517px #FFF, 711px 990px #FFF, 1296px 520px #FFF, 1225px 221px #FFF, 1921px 362px #FFF, 142px 1120px #FFF, 1906px 717px #FFF, 253px 394px #FFF, 1118px 1906px #FFF, 269px 1161px #FFF, 314px 1920px #FFF, 883px 614px #FFF, 116px 664px #FFF, 1586px 556px #FFF, 1536px 1001px #FFF, 1016px 1621px #FFF, 508px 1598px #FFF, 550px 1383px #FFF, 1914px 791px #FFF, 1845px 1732px #FFF, 1400px 1126px #FFF, 1651px 16px #FFF, 1404px 1179px #FFF, 1322px 1030px #FFF, 406px 1508px #FFF, 1606px 506px #FFF, 1507px 296px #FFF, 234px 936px #FFF, 1926px 302px #FFF, 1020px 554px #FFF, 767px 1912px #FFF, 1103px 300px #FFF, 1720px 394px #FFF, 1435px 226px #FFF, 1988px 1977px #FFF, 864px 755px #FFF, 254px 1520px #FFF, 293px 161px #FFF, 748px 649px #FFF, 45px 605px #FFF, 380px 1826px #FFF, 1261px 1975px #FFF, 1208px 1223px #FFF, 1399px 24px #FFF, 241px 419px #FFF, 1399px 617px #FFF, 1916px 724px #FFF, 1875px 1200px #FFF, 1423px 1050px #FFF, 12px 1179px #FFF, 1011px 1537px #FFF, 1314px 1366px #FFF, 680px 946px #FFF, 1798px 609px #FFF, 1773px 717px #FFF, 1715px 1379px #FFF, 1378px 976px #FFF, 1919px 913px #FFF, 1933px 394px #FFF, 969px 1644px #FFF, 113px 1077px #FFF, 837px 1052px #FFF, 1184px 1014px #FFF, 568px 1119px #FFF, 1800px 985px #FFF, 288px 1063px #FFF, 576px 492px #FFF, 1220px 1039px #FFF, 760px 1192px #FFF, 1038px 1892px #FFF, 1820px 577px #FFF, 1538px 906px #FFF, 1776px 918px #FFF, 1879px 1688px #FFF, 1461px 73px #FFF, 1594px 1590px #FFF, 280px 1204px #FFF, 1296px 1766px #FFF, 1223px 1953px #FFF, 1967px 503px #FFF, 492px 477px #FFF, 1862px 370px #FFF, 759px 487px #FFF, 168px 451px #FFF, 1462px 1749px #FFF, 1048px 1609px #FFF, 1255px 1932px #FFF, 704px 913px #FFF, 753px 259px #FFF, 1895px 1203px #FFF, 992px 487px #FFF, 1989px 1682px #FFF, 92px 636px #FFF, 1717px 1711px #FFF, 1402px 1996px #FFF, 76px 1286px #FFF, 1044px 1624px #FFF, 1290px 1037px #FFF, 236px 1105px #FFF, 677px 349px #FFF, 1681px 783px #FFF, 317px 957px #FFF, 253px 12px #FFF, 1860px 1598px #FFF, 1892px 1372px #FFF, 439px 1678px #FFF, 325px 620px #FFF, 1362px 235px #FFF, 18px 1090px #FFF, 241px 776px #FFF, 1114px 1389px #FFF, 1487px 178px #FFF, 1533px 704px #FFF, 971px 1578px #FFF, 871px 312px #FFF, 196px 218px #FFF, 590px 1322px #FFF, 1673px 653px #FFF, 452px 560px #FFF, 1202px 1969px #FFF, 1535px 585px #FFF, 1055px 763px #FFF, 1915px 1335px #FFF, 1234px 1071px #FFF, 1275px 200px #FFF, 531px 1911px #FFF, 442px 1319px #FFF, 1872px 1884px #FFF, 1442px 468px #FFF, 179px 1430px #FFF, 1531px 1367px #FFF, 793px 972px #FFF, 805px 1957px #FFF, 1388px 1071px #FFF, 1422px 841px #FFF, 17px 714px #FFF, 786px 1366px #FFF, 423px 345px #FFF, 667px 1543px #FFF, 422px 1012px #FFF, 316px 1433px #FFF, 967px 1401px #FFF, 1900px 1999px #FFF, 245px 502px #FFF, 166px 1261px #FFF, 601px 1985px #FFF, 1308px 1080px #FFF, 351px 1447px #FFF, 1853px 1702px #FFF, 983px 1284px #FFF, 45px 1425px #FFF, 1626px 617px #FFF, 939px 582px #FFF, 778px 1089px #FFF, 1268px 1646px #FFF, 194px 1805px #FFF, 180px 795px #FFF, 156px 1695px #FFF, 678px 1974px #FFF, 420px 960px #FFF, 1851px 84px #FFF, 865px 1195px #FFF, 1457px 997px #FFF, 721px 1521px #FFF, 691px 1374px #FFF, 274px 482px #FFF, 533px 1126px #FFF, 692px 1518px #FFF, 437px 25px #FFF, 783px 856px #FFF, 1253px 881px #FFF, 1822px 1797px #FFF, 1491px 32px #FFF, 530px 1949px #FFF, 917px 1037px #FFF, 1982px 2px #FFF, 1979px 495px #FFF, 352px 1469px #FFF, 136px 1180px #FFF, 431px 187px #FFF, 621px 570px #FFF, 1698px 1654px #FFF, 428px 1071px #FFF, 1100px 405px #FFF, 662px 1749px #FFF, 1184px 1072px #FFF, 1830px 634px #FFF, 740px 200px #FFF, 211px 1499px #FFF, 751px 1514px #FFF, 236px 1870px #FFF, 630px 684px #FFF, 1833px 924px #FFF, 882px 1682px #FFF, 1541px 30px #FFF, 1900px 478px #FFF, 227px 1758px #FFF, 46px 595px #FFF, 1936px 1184px #FFF, 1528px 1862px #FFF, 137px 52px #FFF, 353px 356px #FFF, 1860px 1313px #FFF, 408px 458px #FFF, 1496px 1009px #FFF, 1755px 954px #FFF, 311px 1650px #FFF, 1506px 309px #FFF, 425px 381px #FFF, 412px 429px #FFF, 518px 140px #FFF, 120px 923px #FFF, 1452px 1830px #FFF, 337px 694px #FFF, 1010px 966px #FFF, 216px 840px #FFF, 1775px 1941px #FFF, 535px 963px #FFF, 1026px 425px #FFF, 393px 493px #FFF, 1998px 1356px #FFF, 1929px 1874px #FFF, 1693px 599px #FFF, 1892px 857px #FFF, 106px 1029px #FFF, 1410px 68px #FFF, 998px 1271px #FFF, 908px 293px #FFF, 143px 343px #FFF, 895px 915px #FFF, 316px 957px #FFF, 1381px 917px #FFF, 648px 1037px #FFF, 558px 1425px #FFF, 456px 1732px #FFF, 1777px 165px #FFF, 567px 675px #FFF, 1998px 699px #FFF, 1532px 1221px #FFF, 1556px 857px #FFF, 1001px 678px #FFF, 144px 1773px #FFF, 1350px 641px #FFF, 1222px 198px #FFF, 1336px 1729px #FFF, 1956px 833px #FFF, 513px 1891px #FFF, 1023px 798px #FFF, 890px 1656px #FFF, 1043px 214px #FFF, 1096px 357px #FFF, 941px 1925px #FFF, 417px 1155px #FFF, 1783px 912px #FFF, 1111px 996px #FFF, 1894px 996px #FFF;
		}
		.particles1::after,
		.particles2::after,
		.particles3::after {
			content: " ";
			position: absolute;
			width: 1px;
			height: 1px;
			border-radius: 1px;
			background: transparent;
			box-shadow: 1297px 1093px #FFF, 495px 1597px #FFF, 549px 1825px #FFF, 1332px 1194px #FFF, 526px 1183px #FFF, 440px 816px #FFF, 1737px 1048px #FFF, 1129px 1164px #FFF, 1763px 1630px #FFF, 737px 1165px #FFF, 918px 725px #FFF, 652px 68px #FFF, 891px 967px #FFF, 959px 616px #FFF, 949px 1475px #FFF, 699px 730px #FFF, 1926px 1857px #FFF, 85px 661px #FFF, 1445px 3px #FFF, 1538px 863px #FFF, 866px 1885px #FFF, 1804px 1882px #FFF, 823px 1669px #FFF, 179px 549px #FFF, 825px 1588px #FFF, 1745px 1153px #FFF, 1615px 972px #FFF, 702px 191px #FFF, 570px 1253px #FFF, 975px 1570px #FFF, 826px 869px #FFF, 998px 940px #FFF, 844px 1110px #FFF, 1361px 1765px #FFF, 1600px 903px #FFF, 1715px 177px #FFF, 665px 343px #FFF, 1183px 1341px #FFF, 1756px 153px #FFF, 896px 1398px #FFF, 812px 594px #FFF, 636px 1289px #FFF, 972px 1714px #FFF, 1741px 1675px #FFF, 315px 1991px #FFF, 1084px 991px #FFF, 331px 1397px #FFF, 1141px 507px #FFF, 1656px 295px #FFF, 1936px 58px #FFF, 485px 1637px #FFF, 1880px 942px #FFF, 1914px 1450px #FFF, 1500px 1324px #FFF, 1749px 510px #FFF, 1658px 1130px #FFF, 919px 294px #FFF, 14px 506px #FFF, 1399px 1530px #FFF, 174px 416px #FFF, 336px 698px #FFF, 931px 1948px #FFF, 194px 1692px #FFF, 1431px 241px #FFF, 407px 536px #FFF, 1968px 1554px #FFF, 442px 82px #FFF, 809px 1224px #FFF, 1541px 741px #FFF, 1883px 1958px #FFF, 1278px 767px #FFF, 1642px 712px #FFF, 1904px 289px #FFF, 1103px 1835px #FFF, 1367px 1330px #FFF, 78px 1795px #FFF, 1951px 1630px #FFF, 1078px 557px #FFF, 1006px 1090px #FFF, 458px 571px #FFF, 1737px 1189px #FFF, 94px 1132px #FFF, 1667px 300px #FFF, 805px 860px #FFF, 876px 1362px #FFF, 1851px 717px #FFF, 808px 326px #FFF, 781px 1371px #FFF, 87px 690px #FFF, 1334px 1140px #FFF, 894px 483px #FFF, 1072px 1500px #FFF, 1543px 694px #FFF, 184px 957px #FFF, 706px 663px #FFF, 447px 1655px #FFF, 799px 1946px #FFF, 1236px 172px #FFF, 1814px 598px #FFF, 1352px 75px #FFF, 1608px 1645px #FFF, 158px 1654px #FFF, 1539px 1764px #FFF, 460px 1325px #FFF, 424px 1619px #FFF, 907px 1649px #FFF, 1461px 974px #FFF, 596px 1711px #FFF, 911px 1197px #FFF, 317px 1901px #FFF, 1828px 1637px #FFF, 522px 201px #FFF, 21px 970px #FFF, 1324px 1008px #FFF, 781px 1130px #FFF, 1036px 1832px #FFF, 1138px 1120px #FFF, 1485px 119px #FFF, 343px 1749px #FFF, 1529px 1560px #FFF, 1466px 1350px #FFF, 135px 919px #FFF, 886px 1236px #FFF, 1738px 1407px #FFF, 219px 774px #FFF, 1933px 503px #FFF, 370px 1584px #FFF, 407px 1363px #FFF, 1381px 1527px #FFF, 1590px 1958px #FFF, 1755px 22px #FFF, 1705px 1456px #FFF, 336px 917px #FFF, 1064px 711px #FFF, 509px 854px #FFF, 995px 1715px #FFF, 503px 891px #FFF, 1087px 736px #FFF, 1001px 543px #FFF, 1209px 508px #FFF, 1514px 1181px #FFF, 1326px 333px #FFF, 890px 1943px #FFF, 1106px 1745px #FFF, 1670px 1681px #FFF, 462px 526px #FFF, 885px 278px #FFF, 829px 567px #FFF, 1387px 2000px #FFF, 1371px 1376px #FFF, 1076px 1790px #FFF, 1260px 1753px #FFF, 13px 986px #FFF, 304px 494px #FFF, 734px 1269px #FFF, 1150px 32px #FFF, 1507px 402px #FFF, 1822px 233px #FFF, 599px 482px #FFF, 1610px 1508px #FFF, 226px 1216px #FFF, 620px 1569px #FFF, 414px 1075px #FFF, 1353px 1068px #FFF, 725px 873px #FFF, 964px 306px #FFF, 1009px 573px #FFF, 353px 1237px #FFF, 1722px 271px #FFF, 220px 1957px #FFF, 47px 1224px #FFF, 71px 1391px #FFF, 356px 856px #FFF, 1194px 1147px #FFF, 268px 728px #FFF, 1106px 458px #FFF, 1399px 1192px #FFF, 736px 663px #FFF, 559px 1570px #FFF, 1276px 392px #FFF, 1488px 1141px #FFF, 1299px 812px #FFF, 1715px 978px #FFF, 1044px 941px #FFF, 249px 1202px #FFF, 1097px 858px #FFF, 1369px 1902px #FFF, 1585px 1625px #FFF, 1965px 1266px #FFF, 1469px 1095px #FFF, 1936px 1499px #FFF, 1725px 119px #FFF, 1327px 1870px #FFF, 1134px 1039px #FFF, 467px 922px #FFF, 237px 610px #FFF, 129px 558px #FFF, 632px 993px #FFF, 878px 1643px #FFF, 1370px 1891px #FFF, 607px 1968px #FFF, 145px 1772px #FFF, 670px 1769px #FFF, 1606px 1589px #FFF, 1774px 446px #FFF, 1082px 1246px #FFF, 584px 1220px #FFF, 796px 1704px #FFF, 750px 84px #FFF, 1007px 306px #FFF, 1911px 1996px #FFF, 510px 1587px #FFF, 165px 1630px #FFF, 94px 740px #FFF, 1618px 1538px #FFF, 1580px 1467px #FFF, 1765px 1538px #FFF, 1046px 794px #FFF, 1290px 392px #FFF, 101px 1364px #FFF, 1930px 997px #FFF, 1023px 1492px #FFF, 1715px 1166px #FFF, 732px 726px #FFF, 1517px 1065px #FFF, 1290px 110px #FFF, 1768px 1471px #FFF, 1162px 158px #FFF, 1326px 399px #FFF, 1483px 1626px #FFF, 317px 300px #FFF, 651px 488px #FFF, 1506px 988px #FFF, 640px 1300px #FFF, 931px 545px #FFF, 235px 1005px #FFF, 1175px 1591px #FFF, 53px 1955px #FFF, 710px 812px #FFF, 731px 526px #FFF, 249px 411px #FFF, 794px 290px #FFF, 429px 394px #FFF, 1188px 575px #FFF, 1406px 1625px #FFF, 1581px 1814px #FFF, 1408px 1200px #FFF, 1273px 1355px #FFF, 1232px 1906px #FFF, 1713px 92px #FFF, 1547px 1953px #FFF, 1493px 1432px #FFF, 1258px 421px #FFF, 478px 796px #FFF, 1268px 790px #FFF, 811px 1917px #FFF, 1682px 396px #FFF, 1961px 1536px #FFF, 1530px 1347px #FFF, 56px 1258px #FFF, 1625px 209px #FFF, 267px 1136px #FFF, 275px 1814px #FFF, 443px 1335px #FFF, 72px 902px #FFF, 857px 167px #FFF, 317px 1501px #FFF, 392px 770px #FFF, 1570px 561px #FFF, 1773px 1814px #FFF, 1575px 1432px #FFF, 545px 1173px #FFF, 1664px 1164px #FFF, 384px 1677px #FFF, 1400px 1997px #FFF, 35px 304px #FFF, 1176px 350px #FFF, 297px 727px #FFF, 133px 1601px #FFF, 1905px 1507px #FFF, 847px 848px #FFF, 352px 495px #FFF, 1244px 116px #FFF, 1695px 612px #FFF, 471px 1538px #FFF, 1780px 1258px #FFF, 1442px 1651px #FFF, 416px 262px #FFF, 877px 1713px #FFF, 1998px 850px #FFF, 192px 293px #FFF, 783px 382px #FFF, 203px 242px #FFF, 1745px 361px #FFF, 560px 62px #FFF, 1908px 516px #FFF, 372px 817px #FFF, 852px 317px #FFF, 1785px 714px #FFF, 951px 182px #FFF, 922px 649px #FFF, 1593px 136px #FFF, 34px 78px #FFF, 241px 1423px #FFF, 364px 613px #FFF, 1326px 1111px #FFF, 496px 225px #FFF, 525px 179px #FFF, 580px 1662px #FFF, 1912px 1456px #FFF, 1001px 335px #FFF, 887px 520px #FFF, 178px 1272px #FFF, 80px 1835px #FFF, 745px 853px #FFF, 1214px 1828px #FFF, 647px 720px #FFF, 477px 1685px #FFF, 1052px 765px #FFF, 1041px 1773px #FFF, 1536px 1128px #FFF, 401px 776px #FFF, 1531px 1296px #FFF, 481px 1358px #FFF, 807px 660px #FFF, 1464px 851px #FFF, 463px 1897px #FFF, 829px 161px #FFF, 929px 349px #FFF, 365px 1874px #FFF, 1834px 1751px #FFF, 837px 1191px #FFF, 683px 777px #FFF, 1857px 1470px #FFF, 1594px 290px #FFF, 620px 1340px #FFF, 6px 410px #FFF, 1103px 324px #FFF, 169px 1406px #FFF, 785px 441px #FFF, 1237px 1978px #FFF, 759px 869px #FFF, 657px 427px #FFF, 219px 704px #FFF, 1668px 985px #FFF, 112px 249px #FFF, 101px 1648px #FFF, 1773px 1450px #FFF, 215px 201px #FFF, 1077px 930px #FFF, 1290px 1425px #FFF, 868px 1017px #FFF, 376px 842px #FFF, 431px 222px #FFF, 1799px 1239px #FFF, 411px 528px #FFF, 1847px 1037px #FFF, 292px 362px #FFF, 1896px 1065px #FFF, 1544px 404px #FFF, 864px 622px #FFF, 1989px 1917px #FFF, 640px 1261px #FFF, 1468px 663px #FFF, 209px 1154px #FFF, 90px 1853px #FFF, 512px 213px #FFF, 152px 1370px #FFF, 1774px 1044px #FFF, 355px 1826px #FFF, 1953px 1724px #FFF, 495px 667px #FFF, 611px 1888px #FFF, 616px 982px #FFF, 1890px 191px #FFF, 1002px 738px #FFF, 105px 1061px #FFF, 1762px 1462px #FFF, 1537px 1590px #FFF, 1550px 37px #FFF, 1493px 1553px #FFF, 1242px 217px #FFF, 1621px 1661px #FFF, 1261px 142px #FFF, 1938px 1351px #FFF, 977px 93px #FFF, 1936px 354px #FFF, 1384px 1052px #FFF, 459px 1038px #FFF, 1817px 1356px #FFF, 62px 796px #FFF, 129px 1412px #FFF, 913px 1745px #FFF, 1360px 317px #FFF, 862px 1696px #FFF, 1501px 1717px #FFF, 1944px 260px #FFF, 1780px 1838px #FFF, 420px 544px #FFF, 348px 1198px #FFF, 444px 494px #FFF, 323px 793px #FFF, 297px 1655px #FFF, 23px 240px #FFF, 1120px 1525px #FFF, 1739px 476px #FFF, 525px 354px #FFF, 548px 1483px #FFF, 1159px 1953px #FFF, 1008px 1104px #FFF, 671px 1311px #FFF, 496px 920px #FFF, 1597px 611px #FFF, 1957px 1603px #FFF, 378px 1344px #FFF, 1074px 1221px #FFF, 1375px 780px #FFF, 52px 270px #FFF, 429px 443px #FFF, 482px 1839px #FFF, 1481px 1435px #FFF, 1960px 1186px #FFF, 1836px 1125px #FFF, 432px 1506px #FFF, 1614px 227px #FFF, 1538px 101px #FFF, 1391px 1165px #FFF, 903px 1504px #FFF, 952px 965px #FFF, 814px 1888px #FFF, 997px 118px #FFF, 1703px 1112px #FFF, 278px 1375px #FFF, 1846px 730px #FFF, 156px 1174px #FFF, 1568px 1182px #FFF, 1045px 1891px #FFF, 838px 793px #FFF, 125px 142px #FFF, 1912px 284px #FFF, 18px 45px #FFF, 1336px 788px #FFF, 1505px 633px #FFF, 1316px 1156px #FFF, 567px 517px #FFF, 711px 990px #FFF, 1296px 520px #FFF, 1225px 221px #FFF, 1921px 362px #FFF, 142px 1120px #FFF, 1906px 717px #FFF, 253px 394px #FFF, 1118px 1906px #FFF, 269px 1161px #FFF, 314px 1920px #FFF, 883px 614px #FFF, 116px 664px #FFF, 1586px 556px #FFF, 1536px 1001px #FFF, 1016px 1621px #FFF, 508px 1598px #FFF, 550px 1383px #FFF, 1914px 791px #FFF, 1845px 1732px #FFF, 1400px 1126px #FFF, 1651px 16px #FFF, 1404px 1179px #FFF, 1322px 1030px #FFF, 406px 1508px #FFF, 1606px 506px #FFF, 1507px 296px #FFF, 234px 936px #FFF, 1926px 302px #FFF, 1020px 554px #FFF, 767px 1912px #FFF, 1103px 300px #FFF, 1720px 394px #FFF, 1435px 226px #FFF, 1988px 1977px #FFF, 864px 755px #FFF, 254px 1520px #FFF, 293px 161px #FFF, 748px 649px #FFF, 45px 605px #FFF, 380px 1826px #FFF, 1261px 1975px #FFF, 1208px 1223px #FFF, 1399px 24px #FFF, 241px 419px #FFF, 1399px 617px #FFF, 1916px 724px #FFF, 1875px 1200px #FFF, 1423px 1050px #FFF, 12px 1179px #FFF, 1011px 1537px #FFF, 1314px 1366px #FFF, 680px 946px #FFF, 1798px 609px #FFF, 1773px 717px #FFF, 1715px 1379px #FFF, 1378px 976px #FFF, 1919px 913px #FFF, 1933px 394px #FFF, 969px 1644px #FFF, 113px 1077px #FFF, 837px 1052px #FFF, 1184px 1014px #FFF, 568px 1119px #FFF, 1800px 985px #FFF, 288px 1063px #FFF, 576px 492px #FFF, 1220px 1039px #FFF, 760px 1192px #FFF, 1038px 1892px #FFF, 1820px 577px #FFF, 1538px 906px #FFF, 1776px 918px #FFF, 1879px 1688px #FFF, 1461px 73px #FFF, 1594px 1590px #FFF, 280px 1204px #FFF, 1296px 1766px #FFF, 1223px 1953px #FFF, 1967px 503px #FFF, 492px 477px #FFF, 1862px 370px #FFF, 759px 487px #FFF, 168px 451px #FFF, 1462px 1749px #FFF, 1048px 1609px #FFF, 1255px 1932px #FFF, 704px 913px #FFF, 753px 259px #FFF, 1895px 1203px #FFF, 992px 487px #FFF, 1989px 1682px #FFF, 92px 636px #FFF, 1717px 1711px #FFF, 1402px 1996px #FFF, 76px 1286px #FFF, 1044px 1624px #FFF, 1290px 1037px #FFF, 236px 1105px #FFF, 677px 349px #FFF, 1681px 783px #FFF, 317px 957px #FFF, 253px 12px #FFF, 1860px 1598px #FFF, 1892px 1372px #FFF, 439px 1678px #FFF, 325px 620px #FFF, 1362px 235px #FFF, 18px 1090px #FFF, 241px 776px #FFF, 1114px 1389px #FFF, 1487px 178px #FFF, 1533px 704px #FFF, 971px 1578px #FFF, 871px 312px #FFF, 196px 218px #FFF, 590px 1322px #FFF, 1673px 653px #FFF, 452px 560px #FFF, 1202px 1969px #FFF, 1535px 585px #FFF, 1055px 763px #FFF, 1915px 1335px #FFF, 1234px 1071px #FFF, 1275px 200px #FFF, 531px 1911px #FFF, 442px 1319px #FFF, 1872px 1884px #FFF, 1442px 468px #FFF, 179px 1430px #FFF, 1531px 1367px #FFF, 793px 972px #FFF, 805px 1957px #FFF, 1388px 1071px #FFF, 1422px 841px #FFF, 17px 714px #FFF, 786px 1366px #FFF, 423px 345px #FFF, 667px 1543px #FFF, 422px 1012px #FFF, 316px 1433px #FFF, 967px 1401px #FFF, 1900px 1999px #FFF, 245px 502px #FFF, 166px 1261px #FFF, 601px 1985px #FFF, 1308px 1080px #FFF, 351px 1447px #FFF, 1853px 1702px #FFF, 983px 1284px #FFF, 45px 1425px #FFF, 1626px 617px #FFF, 939px 582px #FFF, 778px 1089px #FFF, 1268px 1646px #FFF, 194px 1805px #FFF, 180px 795px #FFF, 156px 1695px #FFF, 678px 1974px #FFF, 420px 960px #FFF, 1851px 84px #FFF, 865px 1195px #FFF, 1457px 997px #FFF, 721px 1521px #FFF, 691px 1374px #FFF, 274px 482px #FFF, 533px 1126px #FFF, 692px 1518px #FFF, 437px 25px #FFF, 783px 856px #FFF, 1253px 881px #FFF, 1822px 1797px #FFF, 1491px 32px #FFF, 530px 1949px #FFF, 917px 1037px #FFF, 1982px 2px #FFF, 1979px 495px #FFF, 352px 1469px #FFF, 136px 1180px #FFF, 431px 187px #FFF, 621px 570px #FFF, 1698px 1654px #FFF, 428px 1071px #FFF, 1100px 405px #FFF, 662px 1749px #FFF, 1184px 1072px #FFF, 1830px 634px #FFF, 740px 200px #FFF, 211px 1499px #FFF, 751px 1514px #FFF, 236px 1870px #FFF, 630px 684px #FFF, 1833px 924px #FFF, 882px 1682px #FFF, 1541px 30px #FFF, 1900px 478px #FFF, 227px 1758px #FFF, 46px 595px #FFF, 1936px 1184px #FFF, 1528px 1862px #FFF, 137px 52px #FFF, 353px 356px #FFF, 1860px 1313px #FFF, 408px 458px #FFF, 1496px 1009px #FFF, 1755px 954px #FFF, 311px 1650px #FFF, 1506px 309px #FFF, 425px 381px #FFF, 412px 429px #FFF, 518px 140px #FFF, 120px 923px #FFF, 1452px 1830px #FFF, 337px 694px #FFF, 1010px 966px #FFF, 216px 840px #FFF, 1775px 1941px #FFF, 535px 963px #FFF, 1026px 425px #FFF, 393px 493px #FFF, 1998px 1356px #FFF, 1929px 1874px #FFF, 1693px 599px #FFF, 1892px 857px #FFF, 106px 1029px #FFF, 1410px 68px #FFF, 998px 1271px #FFF, 908px 293px #FFF, 143px 343px #FFF, 895px 915px #FFF, 316px 957px #FFF, 1381px 917px #FFF, 648px 1037px #FFF, 558px 1425px #FFF, 456px 1732px #FFF, 1777px 165px #FFF, 567px 675px #FFF, 1998px 699px #FFF, 1532px 1221px #FFF, 1556px 857px #FFF, 1001px 678px #FFF, 144px 1773px #FFF, 1350px 641px #FFF, 1222px 198px #FFF, 1336px 1729px #FFF, 1956px 833px #FFF, 513px 1891px #FFF, 1023px 798px #FFF, 890px 1656px #FFF, 1043px 214px #FFF, 1096px 357px #FFF, 941px 1925px #FFF, 417px 1155px #FFF, 1783px 912px #FFF, 1111px 996px #FFF, 1894px 996px #FFF;
		}
		.particles1 {
				left: 100px;
				animation: animate_particles 100s -50s linear infinite;
				&::after {
					::after {
						top: 1000px;
					}
				}
			}
			.particles2 {
				animation: animate_particles 150s -80s linear infinite;
				&::after {
					top: 1000px;
				}

			}
			.particles3 {
				left: 300px;
				animation: animate_particles 200s 50s linear infinite;
				&::after {
					top: 1000px;
				}
			}
		}
		.video-wrap {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.video-wrap video {
			height: auto;
			width: 100%;
			min-height: 100%;
			opacity: 1;
		}
		@keyframes animate_particles {
			from {
				transform: translateY(0px);
			}
			to {
				transform: translateY(-1000px);
			}
		}
}

/** section6 **/
.section6 {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/244188/portfolio_blog.png) no-repeat;
	background-position: cover;
	background-attachment: fixed;
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

/** section7 **/
.section7 {
	background: gainsboro;
	iframe {
		width: 100%;
		height: 70%;
		vertical-align: top;
	}
	.more-wrap {
		width: 100%;
		height: 30%;
		background: #000;
		position: absolute;
		bottom: 0;
		left: 0;
		a {
			display: block;
			width: 700px;
			height: 83px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			.more {
				display: block;
				width: 100%;
				height: 100%;
				fill: #FFF;
				stroke: #FFF;
				overflow: visible;
			}
			&:hover .more {
				transition: 1s;
				stroke-dashoffset: 10;
				stroke-dasharray: 10;
			}
		}
	}
}

/*+ Canvas for animation **/
canvas:not(.matterCanvas) {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}
.skip {
	display: none;
	color: #000;
	text-decoration: none;
	font-size: 30px;
	line-height: 30px;
	position: absolute;
	right: 50px;
	bottom: 30px;
	z-index: 100;
	animation: 1.5s linear 0s alternate none infinite running blink;
	transition: 1s;
}
